= simple_form_for user do |f|
  = f.error_notification
  = f.input :name
  = f.input :email
  = f.input :roles, disabled: !policy(user).update_roles?,                      |
    input_html:       { size: 2 }, wrapper_html: { class: 'select is-multiple' } |
  = f.input :password
  = f.input :password_confirmation, label: 'Confirmação da Senha'
  .field.is-grouped.is-grouped-centered
    .control
      = link_to 'Voltar', users_path, class: 'button is-link'
    .control
      = f.button :submit
