<table class="table is-hoverable is-fullwidth">
  <thead>
  <tr>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Grupos</th>
    <th>
      <div class="field is-grouped is-grouped-right">
        <%= link_to 'Criar Novo Usuário', new_user_path, class: 'button is-success' %>
      </div>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.roles.texts.join(', ') %></td>
      <td class="buttons has-addons is-right">
        <%= link_to 'Visualizar', user, class: 'button is-link' %>
        <%= link_to 'Editar', edit_user_path(user), class: 'button is-link' %>
        <%= link_to 'Deletar', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' if user != current_user %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


