<h2 class="title">Visualizando <%= @user.name %></h2>

<section class="section">
  <table class="table">
    <tbody>
      <tr>
        <td>Nome:</td> <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>E-mail:</td> <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>Grupos:</td> <td><%= @user.roles.texts.join(', ') %></td>
      </tr>
      <tr>
        <td>Último login:</td> <td><%= time_ago_in_words @user.last_sign_in_at %> atrás</td>
      </tr>
    </tbody>
  </table>
</section>

<div class="buttons">
  <%= link_to 'Voltar', users_path, class: 'button is-link' %>
  <%= link_to 'Editar', edit_user_path(@user), class: 'button is-link' %>
</div>