%h2.title Visualizando #{@user.name}

%section.section
  %table.table
    %tbody
      %tr
        %td Nome:
        %td= @user.name
      %tr
        %td E-mail:
        %td= @user.email
      %tr
        %td Grupos:
        %td= @user.permissions.texts.join(', ')
      %tr
        %td Último login:
        - if @user.last_sign_in_at?
          %td= time_ago_in_words @user.last_sign_in_at
        - else
          %td Nunca

.buttons
  = link_to 'Voltar', users_path, class: 'button is-link'
  = link_to 'Editar', edit_user_path(@user), class: 'button is-link'