<%= render(layout: 'devise/shared/external_layout', locals: { title: t('.forgot_your_password') }) do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="field">
      <%= f.label :email, html: { class: 'label' } %>
      <div class="control">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", html: { class: 'input' } %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <a class="button is-link is-light" href="<%= new_user_session_url %>">Login</a>
      </div>
      <div class="control">
        <button class="button is-primary"><%= t('devise.passwords.new.send_me_reset_password_instructions') %></button>
      </div>
    </div>
  <% end %>
<% end %>
