%nav.tabs.is-boxed#navbar
  %ul{ data: { controller:"navbar", navbar_current_path: current_route_scope }}
    %li{ data: { target: "navbar.dashboard" }}
      %a{ href: "/" } Dashboard
    %li{ data: { target:"navbar.users" }}>
      = link_to 'Equipe', User
    - if current_user.roles.tecitura?
      %li{ data: { target: "navbar.tecitura" }}
        = link_to 'Tecitura', Tecitura
  .level-right
    = link_to "Minha Conta (#{current_user.name})", current_user, class: 'button is-link'
    = link_to 'Logout', destroy_user_session_path, method: :delete, class: ''

