%h2 PADHu/Cartografias
%table
  %thead
    %tr
      %th Resumo
      %th Referencias
      %th Fonte
      %th Data
      %th Local
      %th Descricao
      %th Temas
      %th Observacoes
      %th Citacoes
      %th Responsavel
      %th{:colspan => "3"}
  %tbody
    - @cartografia.each do |cartografia|
      %tr
        %td= cartografia.resumo
        %td= cartografia.referencias
        %td= cartografia.fonte
        %td= cartografia.data
        %td= cartografia.local
        %td= cartografia.descricao
        %td= cartografia.temas
        %td= cartografia.observacoes
        %td= cartografia.citacoes
        %td= cartografia.responsavel
        %td= link_to 'Show', cartografia
        %td= link_to 'Edit', edit_cartografias_path(cartografia)
        %td= link_to 'Destroy', cartografia, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'Adicionar Entrada', new_cartografias_path
