<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Plataforma Polos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<%= render "shared/flash" %>
<%= render "shared/navbar" if user_signed_in? %>
<main class="container is-fluid">
  <%= yield %>
</main>
</body>
</html>
